<header class="chart-info">
    <div>
        <span class="selector">
            <span bind="text=aggregation"></span>
            <ul>
                <li bind="each=aggregations">
                    <a bind="text=value;onclick=select"></a>
                </li>
            </ul>
        </span>
            by
        <span class="selector">
            <span bind="text=field"></span>
            <ul>
                <li bind="each=fields">
                    <a bind="text=value;onclick=select"></a>
                </li>
            </ul>
        </span>
    </div>
    <div class="options">
        <a bind="onclick=remove"><i class="material-icons" bind="onclick=remove">delete</i></a>
    </div>
</header>
<content class="bar-chart">
    <div bind="each=data"><div bind="onclick=select"><div bind="text=key"></div><div bind="text=value"></div></div></div>
</content>