<include src="header.html" />

<div id="content">

<section id="controls">
    <div id="directories">
        <ul>
            <li bind="each=selectedChain">
                <span class="current">
                    <a bind="text=name;onclick=select;onblur=save" contenteditable="true"></a>
                    <div class="options">
                        <i class="button material-icons" onclick="this.parentNode.parentNode.firstElementChild.selectText()">mode_edit</i>
                        <i class="button material-icons" bind="onclick=copyShareLink">share</i>
                    </div>
                </span>
                <ul>
                    <li bind="each=siblings">
                        <a bind="text=name;onclick=select"></a>
                    </li>
                </ul>
            </li>
            <li>
                <a>...</a>
                <ul>
                    <li bind="each=selectedChildren">
                        <a bind="text=name;onclick=select"></a>
                    </li>
                </ul>
            </li>
            <li class='new button' bind="onclick=save"><i class="material-icons">add_circle</i></li>
        </ul>
    </div>
    <div id="import">
        Import CSV: <input type="file" accept=".csv" id="input" onchange="dataImporter.import(this.files)">
    </div>
    <div id="search">
        Search: <input type="text" size="40" placeholder="Search" bind="value=filterText;onkeyup=search"/>
    </div>
</section>

<main>
    <section id="testcases">

        <div class="buttons">
            <div class="button-group">
                <div class="button">
                    <a bind="onclick=addChart"><i class="material-icons">pie_chart</i></a>
                </div>
            </div>
            <div># of cases: <span bind="innerHTML=caseCount"></span></div>
            <div class="button-group">
                <div class="button">
                    <a bind="ifnot=assignInput;onclick=toggleAssignInput"><i class="material-icons">person_add</i></a>
                    <div bind="if=assignInput">
                        <ul class="button-array">
                            <li bind="each=users">
                                <a bind="alt=name;onclick=assign"><img bind="src=photoUrl" /></a>
                            </li>
                            <li><a bind="onclick=unassign"><i class="material-icons">person_outline</i></a></li>
                            <li><a bind="onclick=toggleAssignInput"><i class="material-icons">close</i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="button">
                    <a bind="ifnot=tagInput;onclick=toggleTagInput"><i class="material-icons">label</i></a>
                    <form bind="if=tagInput;onsubmit=saveTag">
                        <input type="text" size="10" bind="value=tagValue">
                        <a bind="onclick=toggleTagInput"><i class="material-icons">close</i></a>
                    </form>
                </div>
                <div class="button">
                    <a bind="onclick=save"><i class="material-icons">add_circle</i></a>
                </div>
            </div>
        </div>

        <ul class="statistics">
            <li bind="each=charts">
                <include src="chart.html" />
            </li>
        </ul>

        <ul class="caselist">
            <li bind="each=testcases">
                <include src="testcase.html" />
            </li>
        </ul>
    </section>
</main>

</div>

<script type="text/ecmascript">
async function render() {

    whenAuthorized.then(() => {
        document.getElementById('content').style.display = 'block';
    });

    let token = await whenAuthorized;

    //============ Directories ============//
    let directoryList = await new RestEndpoint('/api/directories', DirectoryModel, token).list();
    let directoriesModel = new DirectoryHierarchyModel(directoryList);
    DirectoryModel.prototype.select = function() {
        directoriesModel.setSelectedId(this.id);
        testCaseViewModel.refresh();
    };
    DirectoryModel.prototype.copyShareLink = async function() {
        // Some greasy stuff going on here.  Browsers won't allow async copying unless it's a fixed timeout, so we
        // assume the sharing link is populated after a half second, then add whatever is returned to the clipboard.
        let shareUrl = window.location.origin + '/api/share';
        var toCopy = null;
        ajax.post({
            url: shareUrl+'?directory='+this.id
        }).then(response => {
            toCopy = shareUrl+'?ref='+response.target.responseText;
        });
        setTimeout(() => document.copyText(toCopy), 500);
    };
    directoriesModel.bindTo('#directories');


    //============ Test Cases ============//
    let testCaseEndpoint = new RestEndpoint('/api/testcases', TestCaseModel, token);
    let testcases = await testCaseEndpoint.list({
        directory: directoriesModel.getSelectedId(),
        limit: 25
    });
    let usersEndpoint = new RestEndpoint('/api/users', UserModel, token);
    let userList = await usersEndpoint.list();
    UserModel.prototype.assign = function() {
        let name = this.name;
        testCaseViewModel.testcases.update({
            tester: name
        });
    };
    let searchViewModel = new ViewModel({filterText:null});

    let testCaseViewModel = new ViewModel({

        testcases: testcases,
        caseCount: function() {
            return this.testcases.total;
        },
        save: testcases.save.bind(testcases, {
            directory: directoriesModel.getSelectedId()
        }),

        // tag stuff
        tagInput: false,
        tagValue: '',
        toggleTagInput: function() {
            this.tagInput = !this.tagInput;
        },
        saveTag: function() {
            this.toggleTagInput();
            let tag = this.tagValue;
            if (!tag)
                return false;
            this.testcases.forEach(testCase => {
                if (testCase.tags)
                    testCase.tags.unshift(tag);
                else
                    testCase.tags = [tag];
                testCase.save();
            });
            return false; // always return false to avoid refresh
        },

        // assignment
        assignInput: false,
        toggleAssignInput: function() {
            this.assignInput = !this.assignInput;
        },
        unassign: function() {
            this.testcases.update({
                tester: null
            });
        },
        testerValue: '',
        users: userList,


        // stats stuff
        addChart: function() {
            let chart = new ChartModel(this, 'testcases', ['isAutomated', 'isRegression', 'hasPassed', 'story', 'tester', 'gusNumber']);
            this.charts.push(chart);
        },
        charts: [],

        // filtering
        filters: {},
        filter: function(key, value) {
            this.filters[key] = value;
            this.refresh();
        },
        getQuery: function() {
            let query = Object.assign({
                directory: directoriesModel.getSelectedId(),
                search: searchViewModel.filterText ? searchViewModel.filterText : undefined
            }, this.filters);
            return query;
        },

        refresh: async function() {
            this.testcases = await testCaseEndpoint.list(Object.assign({
                limit: 25
            }, this.getQuery()));
        },

        loadMore: function() {
            return this.testcases.loadMore();
        }

    }).bindTo('#testcases');

    // Infinite scroll for test cases
    let testCasesElement = document.body;
    var loadingMore = false;
    window.addEventListener('scroll', function() {
        if (!loadingMore && testCasesElement.scrollTop + testCasesElement.clientHeight >= testCasesElement.scrollHeight) {
            loadingMore = true;
            testCaseViewModel.loadMore().then(() => loadingMore = false);
        }
    });

    searchViewModel.search = testCaseViewModel.refresh.bind(testCaseViewModel);
    searchViewModel.bindTo('#search');
}
render();
</script>

<include src="footer.html" />
