<header>
    <div class="feature">
        <div bind="text=screen;onblur=save" contenteditable="true"></div>
        &gt; <div class="story" bind="text=story;onblur=save" contenteditable="true"></div>
        &gt; <div class="name" bind="text=name;onblur=save" contenteditable="true"></div>
    </div>
    <div class="options">
        <a bind="onclick=remove"><i class="material-icons" bind="onclick=remove">delete</i></a>
    </div>
</header>
<content>
    <div class="tags"><div class="tag" bind="each=tags"></div></div>
    <div class="description"><span class="label">Steps:</span> <div bind="text=description;onblur=save" contenteditable="true"></div></div>
    <div class="attributes">
        <div class="attribute">
            <div class="label">Regression Test:</div><div class="isRegression" bind="text=isRegression;onblur=save" contenteditable="true"></div>
        </div>
        <div class="attribute">
            <div class="label">Automated:</div><div class="isAutomated" bind="text=isAutomated;onblur=save" contenteditable="true"></div>
        </div>
        <div class="attribute">
            <div class="label">Pass/Fail:</div><div class="hasPassed" bind="text=hasPassed;onblur=save" contenteditable="true"></div>
        </div>
        <div class="attribute">
            <div class="label">Work ID:</div><div><a href="" class="gusLink" target="_blank" bind="href=gusLink;text=gusNumber"></a></div>
        </div>
        <div class="attribute">
            <div class="label">Assignee:</div><div class="assignee" bind="text=tester"></div>
        </div>
    </div>
</content>