.chart-info .selector {
    position: relative;
}
.chart-info .selector > ul {
    display: none;
    z-index: 2;
    background-color: #2d2d2d;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.25em 0.5em;
}
.chart-info .selector > ul > li {
    width: 125px;
    padding: 0 0.5vw;
}
.chart-info .selector > ul > li:hover {
    background-color: #3d3d3d;
}
.chart-info .selector:hover > ul {
    display: block;
}

.bar-chart {
    display: flex !important;
    min-height: 5vh;
    flex-wrap: wrap;
}
.bar-chart > div > div {
    display: flex;
    margin: 0.5vh 0.5vw;
    background-color: #3d3d3d;
    color: white;
    border-radius: 1em;
    border: 1px solid #3d3d3d;
    cursor: pointer;
}
.bar-chart > div > div:hover {
    transform: scale(1.05);
}
.bar-chart > div > div > div {
    padding: 0.25em 0.5em;
}
.bar-chart > div > div > div:last-child {
    background-color: white;
    color: black;
    border-radius: 1em;
}