#directories ul {
    list-style-type: none;
    padding: 0;
}
#directories > ul {
    display: flex;
    padding: 0;
}
#directories li {
    position: relative;
    cursor: pointer;
    margin: 0 0.3em 0 0;
}
#directories a:hover {
    background-color: sandybrown;
    text-decoration: none;
}
#directories .options {
    display: none;
}
#directories .current:hover .options {
    display: inline-block;
}
#directories li > ul {
    display: none;
    background-color: beige;
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 0.5em;
}
#directories li > ul > li {
    width: 125px;
}
#directories li:hover > ul {
    display: block;
}
#directories > ul > li:before {
    content: " / ";
}
