@viewport {
    width: device-width;
}

body {
    margin: 0;
}
body, input, textarea[type=text] {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 100%;
    max-width: 854px;
}
#content {
    display: none;
}
a {
    text-decoration: none;
}
a:hover, .button:hover {
    transform: scale(1.05);
}
i.button:hover {
    transform: scale(1.15);
}
a, .button {
    cursor: pointer;
}
h1,h2,h3,h4,h5 {
    margin: 1.5em 0 0.25em 0;
    font-weight: 600;
}
.material-icons {
    font-size: 1em !important;
}
#import {
    margin-bottom: 1em;
}
form {
    margin: 0;
    display: flex;
}
ul.button-array {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
ul.button-array > li > a > img {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
}