#page-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: sandybrown;
    background: linear-gradient(#f9b072, sandybrown);
}
#google-stuff {
    display: flex;
    align-items: center;
    margin: 0 1em;
}
#logo {
    display: flex;
    align-items: left;
    flex: 5 0 0;
    padding: 1em 0.5em;
}
#logo > img {
    height: 25px;
    width: 25px;
}
#profile {
    display: flex;
    align-items: center;
    padding: 2px;
    margin: 3px;
    flex: 1 0 0;
}
#profile > * {
    padding: 3px;
}
#profile > img {
    height: 25px;
    width: 25px;
    border-radius: 25px;
}
#g-signin2 {
    display: flex;
    flex: 1 0 0;
}
@media print {
    #page-header {
        display: none;
    }
}