#testcases ul {
    list-style-type: none;
    padding: 0;
}
#testcases > ul > li {
    border-radius: 0.5em;
    box-shadow: 0 1px 1px gray;
    margin-bottom: 1em;
}
#testcases > ul > li > header {
    display: flex;
    justify-content: space-between;
}
#testcases > ul > li > header {
    border-radius: 0.5em 0.5em 0 0;
    background: #2d2d2d;
    padding: 0.25em 0.75em;
    color: beige;
}
#testcases ul.caselist > li > header > div.feature {
    display: flex;
}
#testcases ul.caselist > li > header > div.feature > div {
    margin-right: 1vw;
}
#testcases ul.caselist > li > header > div.feature > div:not(:first-child) {
    margin-left: 1vw;
}
#testcases ul.caselist > li > header div {
    display: inline-block;
}
#testcases > ul > li > content {
    position: relative;
    padding: 1vh 1vw 2vh 1vw;
    display: block;
}
#testcases .tags {
    position: absolute;
    display: flex;
    top: 5px;
    right: 5px;
}
#testcases .attributes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1em;
}
#testcases .attribute {
    display: flex;
}
#testcases .label {
    margin-right: 1em;
}
#testcases .description > div {
    padding: 0.5em 1em;
}
#testcases .label {
    font-weight: bold;
}
#testcases .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
#testcases .buttons > .button-group {
    display: flex;
}
#testcases .buttons .button {
    border: 1px solid black;
    font-size: 1.5em;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-left: 0.25em;
    background-color: #fdeb50;
    box-shadow: 0 1px 0 lightgray;
    height: 1em;
    overflow: hidden;
}
.tag {
    background-color: cadetblue;
    border-radius: 0.3em;
    margin-right: 2px;
    padding: 0.1em 0.3em;
    color: white;
    cursor: pointer;
}
.tag i {
    visibility: hidden;
}
.tag:hover i {
    visibility: visible;
}
